---
# HAProxy Vault - Encrypted Secrets
# Encrypt this file using: ansible-vault encrypt group_vars/haproxy_vault.yml

# HAProxy stats password (change before encrypting)
vault_haproxy_stats_password: "changeme123"

# keepalived authentication password (max 8 characters)
vault_keepalived_auth_pass: "SecHA25"

# Add additional secrets here
